%h1 Tumlino – Handelsbetingelser og privatpolitik

%h2 1. Handelsbetingelser og privatpolitik

%h3 1.1 Generelle oplysninger

%p
  Tumlino ApS<br>
  CVR-nr.: 40468722<br>
  Adresse: Bjerreskovparken 31, 6760 Ribe<br>
  Email adresse: info@tumlino.dk<br>
  Telefonnummer: +45 XX XX XX XX<br>

%h3 1.3 Handelsbetingelser

%h4 1.3.1 Emails

%p Din email adresse kan blive brugt til at sende emails ud om lignende ydelser, som du tidligere har
købt. Du kan altid framelde dig dette i den pågældende email. Hvis ikke du ønsker at få tilsendt
emails, skriv da venligst en besked herom til: info@tumlino.dk

%h4 1.3.2 Betaling

%p Betaling skal ske før en behandling med betalingskort på www.tumlino.dk
%p Du accepterer at tumlino tager imod betaling fra dig på vegne af den pågældende fagperson.
%p Du accepterer at Tumlino udsender faktura eller kvitteringer til dig på vegne af den pågældende fagperson.
%p Du accepterer at du betaler tumlino for administrationen af behandlingen og ikke selve behandlingen. Administrationsgebyret til tumlino er ikke medregnet i den anviste pris, og det skal kunden betale yderligere. Administrationsgebyret er vist inden godkendelse af ordren og inden betalingen.
%p Hvis kunden samtykker til at købe ekstra udstyr fra en fagperson i forbindelse med en behandling, vil dette udgøre en ekstra udgift udover den aftalte pris for behandlingen.
%p Alle anførte priser er vejledende udsalgspriser inklusiv evt. moms. Der tages forbehold for trykfejl, kurs- og prisændringer, samt tekniske fejl.
%p Den anførte pris er udelukkende til privatpersoner. Erhverv bedes kontakte Tumlino for særskilte priser.

%h4 1.3.3 Levering

%p Fagpersonerne bestemmer selv i hvilke postnumre de yder deres service, hvilket kan ses på deres individuelle profiler. Det er kundens ansvar at sikre sig, at fagpersonen dækker den ønskede leveringsadresse.
%p Leveringsadressen skal være fremkommelige for fagpersonen i bil og/eller cykel. Betalingen for transport er inkluderet i den anviste pris.

%h4 1.3.4 Din retsevne

%p Habilitet og alder: Ved at afgive en ordre på hjemmesiden garanterer du, at:
%p Du juridisk er i stand til at indgå bindende aftaler; og
%p Du er over 18 år.

%h4 1.3.5 Ansvar og reklamantion

%p Tumlino er alene formidler af tjenesteydelser fra en samarbejdspartner (fagperson), og fraskriver sig ethvert ansvar for de varer eller tjenesteydelser, som leveres fra samarbejdspartnerne i forbindelse med en behandling. Den tjenesteydelse, som din bestilling giver adgang til, leveres af samarbejdspartneren, hvorfor tumlino ikke er ansvarlig for eventuelle fejl eller mangler i forbindelse med samarbejdspartnernes levering af varer eller tjenesteydelsen, medmindre andet følger af ufravigelig lovgivning.
%p Tumlino leverer altså ingen sundhedsydelser og er blot formidler mellem en kunde og en selvstændig fagperson som samarbejdspartner. Derfor skal alle reklamations- eller erstatningskrav rettes til samarbejdspartneren og ikke til Tumlino.
%p Af praktiske årsager bedes en reklamation fremsendes direkte til den selvstændige fagpersoner, dog kopi til Tumlino.
%p Tumlino er alene ansvarlig for den administrative del af behandlingen og opkræver et gebyr for dette i forbindelse med en behandling. Dette gebyr er ikke medregnet i den anviste pris.

%h4 1.3.5 Aflysningspolitik

%p En aftalt behandling kan uden beregning aflysesop til 24 timer inden det aftalte tidspunkt. Ved aflysning senere end 24 inden det aftalte tidspunktet,opkræves et honorar på 50% af den aftalte pris. Du kan aflyse gennem linket på din bookingbekræftelse, over telefon, eller via vores booking system. Du kan flytte en tid ved at ringe til os på +45 XX XX XX XX. mellem kl. 9:00 og 17:00 i hverdage.
%p Du har 14 dages fortrydelsesret, når du handler hos os, hvis du fortryder dit køb. Fristen løber fra dén dag aftalen blev indgået. Hvis du ønsker at få ydelsen leveret før fristen udløber, kan du give dit udtrykkelige forudgående samtykke til, at leveringen begyndes og at fristen stopper, når ydelsen er fuldt leveret.
%p I praksis betyder det, at din fortrydelsesfrist udløber, når behandlingen er fuldt leveret. Du bevarer altså din fortrydelsesret mens behandlingen står på.
%p Har du givet dit samtykke til, at behandlingen kan gå i gang, og ønsker du efterfølgende alligevel at benytte din fortrydelsesret, skal du dog være opmærksom på, at vi vil opkræve en rimelig betaling for det arbejde, der allerede er leveret.

%h4 1.3.6 Ændring af betingelser

%p Tumlino har til enhver tid ret til at ændre nærværende betingelser. De gældende betingelser vil altid fremgå på www.tumlino.dk.

%h4 1.3.7 Lovvalg og tviser

%p Køb via tumlino, der knytter sig til ovenstående vilkår m.v., er underlagt dansk ret. Ved din brug af internetsiden anerkender du, at enhver tvist mellem dig og tumlino vedrørende ovenstående vilkår m.v., skal afgøres ved de danske domstole.
%p Enhver tvist afgøres efter dansk ret med retten i Esbjerg som værneting.

%h3 1.4 Privatpolitik

%h4 1.4.1 Videregivelse af personoplysninger

%p Personoplysninger afgives aldrig til tredjepart, og vi indsamler aldrig personoplysninger, uden at du selv har givet os disse oplysninger. Her indsamles oplysninger om navn, adresse, postnummer, e-mail, køn, alder, interesser, holdninger og kendskab til forskellige emner. I forbindelse med køb af en ydelse, er obligatoriske oplysninger markeret tydeligt på formularen. Afgivelse af øvrige oplysninger i forbindelse med køb eller tilmelding til en ydelse er frivilligt.

%h4 1.4.2 Brug af personoplysninger

%p Personoplysninger bruges først og fremmest til at gennemføre den ydelse, som oplysningerne er indsamlet i forbindelse med. Oplysningerne bruges derudover til at få større kendskab til dig og øvrige brugere af websitet. Denne brug kan bl.a. omfatte undersøgelser og analyser, der er rettet mod en forbedring af vore produkter, tjenester og teknologier, samt visning af indhold og reklamer, der er tilpasset dine interesser og hobbyer.

%h4 1.4.3 Kontakt vedr. personoplysninger

%p Hvis du ønsker adgang til de oplysninger, som er registreret om dig hos tumlino.dk, skal du rette henvendelse på info@tumlino.dk eller telefon XX XX XX XX. Er der registreret forkerte data, eller har du andre indsigelser, kan du rette henvendelse samme sted. Du har mulighed for at få indsigt i, hvilke informationer der er registreret om dig, og du kan gøre indsigelse mod en registrering i henhold til reglerne i Persondataloven. Du kan også til enhver tid anmode om at dine informationer slettes.

%h4 1.4.4 Beskyttelse af personoplysninger

%p Ifølge persondataloven skal dine personlige oplysninger opbevares sikkert og fortroligt. Vi gemmer dine personlige oplysninger på computere med begrænset adgang, som er placeret i kontrollerede faciliteter, og vores sikkerhedsforanstaltninger kontrolleres løbende for at afgøre, om vores brugeroplysninger håndteres forsvarligt, og under stadig hensyntagen til dine rettigheder som bruger. Vi kan dog ikke garantere 100 procents sikkerhed ved dataoverførsler via internettet. Det betyder, at der kan være en risiko for, at andre uberettiget tiltvinger sig adgang til oplysninger når data sendes og opbevares elektronisk. Du afgiver således dine personlige oplysninger på eget ansvar.
%p Tumlino sletter eller anonymiserer personoplysninger, som er forældede, eller som ikke længere har relevans, f.eks. fordi brugeren er afmeldt.
%p Tumlino sletter ikke oplysninger, som skal opbevares i henhold til lovgivning, f.eks. til bogføringsmæssige formål.
%p Den hurtige udvikling af internettet betyder, at ændringer i vores behandling af personoplysninger kan blive nødvendige. Vi forbeholder os derfor ret til at opdatere og ændre nærværende retningslinjer for behandling af personoplysninger. I tilfælde af væsentlige ændringer giver vi dig besked i form af en synlig meddelelse på vores websites.
%p I det omfang, der behandles personoplysninger om dig, har du ifølge persondataloven ret til at få oplyst, hvilke personoplysninger, der kan henføres til dig. Du kan til enhver tid gøre indsigelse mod, at oplysninger om dig gøres til genstand for behandling. Du kan også til enhver tid tilbagekalde hele eller dele af dit samtykke ved at kontakte info@tumlino.dk. Du har mulighed for at klage over behandlingen af oplysninger og data vedrørende dig. Klage indgives til Datatilsynet, jf. persondatalovens § 58, stk. 1.

%h4 1.4.5 Cookies på tumlino.dk

%p Tumlino.dk forpligtiger sig til at overholde de af Foreningen af Danske Interaktive Medier til enhver tid fastlagte retningslinjer for behandling af cookies og persondata.
%p Når du besøger tumlino.dk eller en af vores undersider, modtager din computer automatisk én eller flere cookies. Tumlino.dk stiller ikke krav om, at dit udstyr skal acceptere cookies. Hvis du ikke ønsker cookies, kan du i de følgende paragraffer læse, hvordan du helt eller delvist undgår dem.

%h4 1.4.6 Hvad er en cookie?

%p En cookie er en lille datafil som tumlino.dk gemmer på din computer for at vi kan genkende computeren næste gang du besøger os. En cookie er en passiv fil og kan ikke sprede computervirus eller andre skadelige programmer. Læs mere om cookies på minecookies.org og på Wikipedia. En cookies levetid afhænger af, hvad den skal bruges til. Nogle cookies forsvinder, så snart du lukker for dit besøg på tumlino.dk, mens andre eksisterer indtil de bliver slettet. Se hvordan du sletter dine cookies her.

%h4 1.4.7 Hvordan bruger tumlino.dk cookies

%p Her kan du se en oversigt over, hvad vi bruger cookies til:
%p Statistikker om adfærd: tumlino.dk bruger cookies til at føre demografiske og besøgsrelaterede statistikker. På den måde får vi mulighed for at tilpasse og oprette indhold og tjenester, der stemmer overens med dine og øvrige besøgendes ønsker
%p Målrettet markedsføring: Vi bruger også cookies til at levere målrettede online annoncer. Ved alle reklameformater registrerer vi, om du klikker på de annoncer, vi viser for dig.

%h4 1.4.8 Tredjeparts-cookies

%p Tumlino.dk bruger en række services fra partnere på vores sider. Disse services bruger til tider også cookies.
